/* loader */
#loader {
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: #ffffff;
  z-index: 299;
}
.loader {
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #0764e3;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end-loader */
