/* team */
.teamHead {
  font-family: var(--proxon);
  font-size: 4.37rem;
  text-align: center;
}
.teamPara {
  font-size: 1.35rem;
  text-align: center;
  max-width: 50rem;
  margin: 0.5rem auto;
}
.teamWrapper {
  background-color: #1b1b21;
  border-radius: 10px;
  padding: 1rem;
}
.teamImgWrapper {
  /* min-height: 280px;
  background-image: url(../../assets/TeamImg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  position: relative;
}
.TeamImgCorner {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 20% !important;
  /* height: 50px; */
  /* top: -15px;
  right: -15px; */
}
.TeamImg {
  width: 100% !important;
  object-fit: contain;
}
.teamTextWrapper {
  display: flex;
  justify-content: space-between;
}
.btnTeamFollow {
  margin-top: 1rem;
  color: var(--clr-body);
  background-color: var(--clr-green);
  font-family: var(--proxon);
  font-size: 1.25rem;
  border: 1px solid var(--clr-green);
  padding: 0.1rem 1rem;
}
.btnTeamFollow:hover {
  color: var(--clr-green);
  background-color: transparent;
}
.TeamBP1 {
  margin-bottom: 0px;
  font-family: var(--proxon);
  font-size: 1.25rem;
  margin-top: 1rem;
  line-height: 1rem;
}
.TeamBP2 {
  margin-bottom: 0px;
  font-family: var(--arcMedium);
  font-size: 0.8rem;
  color: #bdbdbd;
}
@media only screen and (max-width: 768px) {
  .teamHead {
    font-family: var(--proxon);
    font-size: 2.6rem;
    text-align: center;
  }
  .teamPara {
    font-size: 1.15rem;
    text-align: center;
    max-width: 50rem;
    margin: 0.5rem auto;
  }
}
/* team end */
