.A_image_card{
    margin-top: -47%;
    margin-left: -6%;
    width: 84%;
    margin-bottom: 18rem;
}

@media (max-width: 500px){

    .A_image_card{
    margin-bottom: 5rem;
    margin-left: -8rem;
    width: 106%;
    margin-top: -24rem;
    }
    .container1{
        margin-bottom:0;
    }

}