.background-image{
    height: 47%;
    width: 100%;
    padding: 23px 67px;
    background-image: url('../assets/TopPlayers_4.png');
    background-position: 173px -223px;
    margin-bottom: 3rem;
}

.image_card3{
    margin-left: -28rem;
    width: 118%;
    margin-top: -4rem;
    margin-bottom: 4rem;
}

.trendingtxt{
    margin-left: 1rem;
}
.trendingbtn{
    margin-right: 1rem;
}

.rating_component{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4rem;
}


.small_card{
    margin-top: 4rem;
}

@media (max-width:400px)
{
    .background-image
 {
  width: 100%;
   padding: 7px 15px;
   background-position: -29rem -26rem;
 }
 .image_card3{
    margin-left: -9rem;
 }
}