.Banner-right-box1 {
    margin-top: 10rem;
    padding: 2rem;
    width: 36%;
    margin-left: 33%;
    text-align: center;
    background: rgb(52, 51, 51);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(-25px);
    color: #fff;
    opacity: 0.6;
  }

   @media  (max-width: 400px) {
    .Banner-right-box1 {
        padding: 1rem;
        width: 65%;
    }
  }
  