/* trending */
.trendingbtn:hover {
  color: var(--clr-red);
}
.trending-box {
  border-radius: 12px;
}
.trending-content {
  padding: 1.2rem 0px;
}
.trending-img {
  position: relative;
}
.trendingImg_text {
  position: absolute;
  width: fit-content;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
}
.trendingImg_Span {
  color: #fff;
  display: inline-block;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.trending-infinity {
  margin-bottom: 0px;
  text-align: center;
}


.box-heart {
  margin: 0 auto;
  background-color: #fef2f3;
  width: fit-content;
  padding: 0.1rem 0.85rem;
  border-radius: 16px;
  margin-top: 6px;
}
.heart-text {
  font-size: 0.8rem;
}
/* trending_slider */
.trending_slider .owl-nav {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.trending_slider .owl-nav > .owl-prev {
  position: absolute;
  top: calc(50% - 70px);
  left: -30px;
}
.trending_slider .owl-nav > .owl-next {
  position: absolute;
  top: calc(50% - 70px);
  right: -30px;
}
.trending_slider .owl-nav [class*="owl-"]:hover {
  background-color: transparent !important;
}
.trendingsubheading{
  color:rgb(33, 37, 41);
}
/* End trending */
